html {
	box-sizing: border-box;
	font-family: 'Lobster', cursive;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	text-align: center;
	background: #7F636E;
}

.start-screen {
	margin: 50px auto;
	border-radius: 20px;
	background:  #F2DD6E;
	padding: 20px;
	max-width: 600px;
	box-shadow: 4px 4px 20px rgb(64,55,5, 0.6);
}

h1 {
	font-family: 'Titan One', cursive;
	color: #7D70BA;
	font-weight: 100;
	line-height: 1px;
	font-size: 60px;
	padding: 20px 50px;
}

.level {
	display: block;
	margin: 0 auto;
	padding: 20px;
}

.btn {
	cursor: pointer;
	font-size: 30px;
	font-weight: 100;
	width: 200px;
	text-align: center;
	text-transform: capitalize;
	display: inline-block;
	color: white;
	background: #7D70BA;
	border-radius: 20px;
	padding: 20px 50px;
	margin: 0 20px;
	box-shadow: 4px 4px 20px rgb(64,55,5, 0.6);
}

.btn.new-game:active {
	box-shadow: none;
}

.btn:active {
	box-shadow: inset 4px 4px 20px rgb(64,55,5, 0.6);
}

p {
	color: #7F636E;
	font-size: 25px;
	display: inline-block;
	padding: 10px 20px 30px;
}
span {
	padding: 15px 25px;
	margin: 10px;
	color: white;
	background: #6B6054;
	border: 6px solid #554843;
	border-radius: 20px;
}

.start {
	text-transform: uppercase;
	padding: 20px;
	width: 250px;
	background: #7D70BA;
}
.game {
	position: relative;
	box-sizing: content-box;
	margin: 50px auto;
	padding: 20px;
	min-width: 440px;
	max-width: 450px;
	height: 580px;
	background: #C1DBB3;
	border: 5px solid #C1DBB3;
	border-radius: 20px;
	box-shadow: 4px 4px 20px #554843;
}

.hole {
	position: relative;
	float: left;
  width: 90px;
  height: 90px;
  margin: 5px;
  padding: 0;
	background: #6B5A54;
	border: 6px solid #554843;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 4px 4px 20px rgba(193,219,179,0.8);
}

.mole {
	position: absolute;
	top: 100px;
	left:0;
	right:-1;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: #55868C;
	border-radius: 0%;
	transition: all 0.5s;
}

.hole.pop .mole {
	top: 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.new-game {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
